<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="pageHome">
         <div class="pageContent">  
                <header>
                    <div class="menu">
                            <a id="home" href="index.html">Foodfy </a> 
                            
                            <a href="about.html">Sobre</a> 
                            <a href="recipes.html">Receitas </a> 
                        </div>
                </header>
                    
                <div class="pinkBox">
                        <div class="apresentation">
                            <h1>A melhores receitas</h1>
                        
                            Aprenda a construir os melhores pratos com receitas 
                            criadas por profissionais do mundo inteiro.
                        </div>

                        <div>
                            <img src="../layouts/assets/chef.png" alt="">
                        </div>

                </div>       
                                        
                <h2 id="more">Mais acessadas</h2>               
                
                <div class="cards">
                    <div class="card">
                        <img src="../layouts/assets/burger.png" alt="">
                        <p class="foodName">Triplo bacon burguer</p>
                        
                        <p class="foodAuthor">por Jorge Relato</p>
                        
                    </div>
                    <div class="card">
                        <img src="../layouts/assets/pizza.png" alt="">
                        <p class="foodName">Pizza 4 estações</p>
                        
                        <p class="foodAuthor">por Fabiana Melo</p>
                        
                    </div>

                    <div class="card">
                        <img src="../layouts/assets/espaguete.png" alt="">
                        <p class="foodName">Espaguete ao alho</p>
                        
                        <p class="foodAuthor">por Julia Kinoto</p>
                        
                    </div>

                    <div class="card">
                        <img src="../layouts/assets/lasanha.png" alt="">
                        <p class="foodName">Lasanha mac n'cheese</p>
                        
                        <p class="foodAuthor">por Juliano Vieira</p>
                        
                    </div>

                    <div class="card">
                        <img src="../layouts/assets/doce.png" alt="">
                        <p class="foodName">Docinhos pão-do-céu</p>
                        
                        <p class="foodAuthor">por Ricardo Golvea</p>
                        
                    </div>

                    <div class="card">
                        <img src="../layouts/assets/asinhas.png" alt="">
                        <p class="foodName">Asinhas de frango ao barbecue</p>
                        
                        <p class="foodAuthor">por vania Sartori</p>
                        
                    </div>
                   
                </div>
                
        </div>     
        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>

        </footer>
    
    </div>
    



</body>
</html>