*{
    padding: 0;
    border: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.pageHome{
    height: 100%;
  
}

.pageContent{
    
    max-width: 940px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}


body{
    font-family: 'Roboto';
    
}


header .menu{
    
    height: 93px;
    
    align-items: center;
    
    display: flex;
    font-size: 16px;
    
    
}


header .menu a{
    color: black;
    margin-right: 30px;

}




#home{
    font-size: 27px;
    margin-right: 122px;
    font-family: serif;
    letter-spacing: 1.65px;
    
}

.card{
  
    cursor:pointer;
    
    
}

.cards{
    width: 940px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    
}

.cards .card img{
    width: 300px;
    height: 140px;
    margin: 0;
    border-radius: 15px;
   
}

.cards .foodName{
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}

.cards .foodAuthor{
    line-height: 16px;
    font-size: 14px;
    color: #777777;
}


.card{
    width: 310px;
    height: 235px;
   
    
    
}

footer{
    
    width: 100%;
    position: relative;
    height: 62px;
    background-color: #eeeeee;
    align-items: center;
    display:flex;
    justify-content: center;
    font-size: 14px;
    color:#999999;
}

.modalPlate{
    font-size: 24px;
    text-align: center;
    color: #111111;
    display: block;
    margin-top: 20px;
}

.modalChef{
    font-size: 18px;
    text-align: center;
    color: #777777;
    display: block;
    margin-top: 5px;
}

.modalContent{
    width: 600px;
    height: 220px;
    display: block;
    margin: auto;
    


}
.modalContent img{
    
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    height: 200px;
    width: 600px;
}

.modalText{
    height: 130px;
    
}
   

.modalOverlay{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    
  
}

.modal{
    background-color: white;
    width:660px;
    height: 413px;   
    position: relative;
    margin: 200px auto;
    border-radius: 16px;
    

}

.modal .closeModal{
    color: black;
    
    bottom: 10px;
    left: 200px;
    cursor:pointer;
    font-size: 18px;
    text-align: center;
    color: #999999;
    display: block;
    font-size: 16px;
   
}
   
 


.modalOverlay.active{
    opacity: 1;
    visibility: visible;
}

